
.icon-load {
  background-image: url(/images/sprite.png);
  background-position: 0px 0px;
  width: 29px;
  height: 32px;
}
.icon-location {
  background-image: url(/images/sprite.png);
  background-position: -39px 0px;
  width: 10px;
  height: 15px;
}

@media (-webkit-min-device-pixel-ratio: 2),
       (min-resolution: 192dpi) {
  .icon-load {
    background-image: url(/images/sprite@2x.png);
    background-size: 49px 32px;
  }
  .icon-location {
    background-image: url(/images/sprite@2x.png);
    background-size: 49px 32px;
  }
}
