doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Document with jade
  body
    header.header
      nav.main-nav
        ul
          li
            a(href="#", target="_blank") link1
          li
            a(href="#", target="_blank") link2
          li
          a(href="#", target="_blank") link2
    .container
    script(src="/scripts/app.js")
    
    
  
