doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Document with jade
    link(href='/css/index.css', rel='stylesheet')
  body
    header.header
    .test  
    .container
    script(src="/js/app.js")
    
    
  
